body {
    margin: 0;
}


.formularz {
    display: flex;
    justify-content: center;
    
}

.mainfield {
    display: flex;
    flex-direction: column;
    width: 20rem;
    min-height: auto;
    background-color: antiquewhite;
}

.loginfield {
    display: flex;
    flex-direction: column;
}

.loginfield > label {
    margin-bottom: 5px;
}

.setupfield {
    display: flex;
    flex-direction: column;
}

.setupfield > div {
    margin-bottom: 5px;
    border-bottom: 1px solid black;
}

.parametry {
    display: flex;
    flex-direction: column;
}

.parametry>label {
    margin-bottom: 5px;
}

.peryferia {
    display: flex;
    flex-direction: column;
}

.peryferia>label>input {
    margin-bottom: 5px;
    margin-top: 5px;
}


datalist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    writing-mode: vertical-lr;
    width: 200px;
  }
  
  option {
    padding: 0;
  }
  
  input[type="range"] {
    width: 200px;
    margin: 0;
  }
#generuj {
    margin: 0 auto;
    display: block;
    margin-top: 10px;
    width: 70px;
    height: 30px;
    background-color: antiquewhite;
}

#generuj:hover {
    cursor: pointer;
    opacity: 0.8;
}